@import '../config';

.button-primary {
    @extend .cabin-paragraph;
    @extend .center;
    height: 40px;
    color: $white-main;
    background-color: $accent;
    padding: 10px 20px;
    max-width: fit-content;
    text-decoration: none;
}