@import '../config';
@import './button';

.button-icon {
    @extend %button;
    padding: 10px;
    background-color: $secondary;
    border-radius: 4px;
    box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.25);
    height: 35px;

    svg {
        padding-left: 0.35rem;
        height: 15px;
        width: auto;
    }

    .white-icon {
        fill: $white-main;
    }
}
