@import '../config';
@import './button';

.button-primary {
   @extend %button;
    background-color: $accent;
    padding: 10px 20px;
}

.button-primary-large {
    height: 58px;
    padding: 10px 1.6rem;
}