@import '../config';
@import './button';

.button-primary {
    @extend %button;
    @extend .cabin-paragraph-medium;
    background-color: $accent;
    padding: 10px 20px;
    cursor: pointer;
}

.button-primary-large {
    height: 58px;
    padding: 10px 1.6rem;
}
