@import '../config';

.navbar {
    @extend .center-h;
    justify-content: space-around;
    height: 70px;

    a {
        @extend .cabin-paragraph;
        @extend .center;
        color: $white-main;
        text-decoration: none;
        border-bottom: 1px solid $white-main;
        height: 40px;
    }

}