@import '../config';

.header {
    @extend .center;
    position: fixed;
    top: 0;
    width: 100%;
    background: $dominant-transparent;
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(10px);
}

.navbar {
    @extend .center-h;
    justify-content: space-between;
    max-width: $main-container-width;
    width: 100%;
    height: $navbar-height;
    padding: 1rem 2rem;
    gap: 1.5rem;
}

input[type='checkbox'] {
    display: none;

    &:checked ~ .navlinks {
        left: 0;
    }
}

.menu-btn {
    display: none;

    svg {
        fill: $white-main;
        cursor: pointer;
    }

    @include responsiveMobile() {
        display: block;
    }
}

.navlinks {
    @extend .flex-row;
    justify-content: space-between;
    max-width: 40%;
    width: 100%;
    gap: 1rem;

    a {
        @extend .cabin-paragraph-medium;
        position: relative;
        text-decoration: none;
        padding: 10px;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background: $white-main;
            transition: width 0.2s;
        }
        &.active::after, &:hover::after {
            width: 100%;
        }
    }

    @include responsiveMobile() {
        display: block;
        position: fixed;
        top: $navbar-height;
        left: -100%;
        background: $dominant;
        text-align: center;
        transition: all 0.23s ease;
        height: 100vh;
        max-width: 60%;
    }
}
