@import '../config';

.tag {
    @extend .center;
    @extend .cabin-paragraph-small;
    border: 2px solid #676767;
    border-radius: 4px;
    height: 24px;
    padding: 8px;
    max-width: fit-content;
}
