@import '../config';

.not-found-section {
    @extend .center;
    min-height: $height-minus-nav;
    padding-bottom: 6rem;
}

.title {
    @extend .ubuntu-title;
    text-align: center;
    margin-bottom: 2rem;
}

.lead {
    @extend .ubuntu-lead;
    margin-bottom: 3rem;
    text-align: center;
    max-width: 650px;
}
