@import 'base/reset';
@import 'config';

html {
    scroll-padding-top: $navbar-height;
}

body {
    background-color: $dominant;
    font-family: $cabin;
    color: $white-main;
    margin-top: $navbar-height;
}
